<%= render "shared/second-header"%>

  <div>
   <h2>商品検索</h2>
    <%= search_form_for @p, url: search_index_products_path  do |f| %>
    <%= f.label :category_id_eq, 'カテゴリー' %>
    <%= f.collection_select :category_id_eq, @category, :id, :name,  include_blank: '指定なし' %>
    <br>
    <%= f.label :state_id_eq, '商品の状態' %>
    <%= f.collection_select :state_id_eq, @state, :id, :name,  include_blank: '指定なし' %>
    <br>
    <%= f.label :price %>
    <%= f.number_field :price_gteq %>以上〜
    <%= f.number_field :price_lt %>未満
    <br>
    <%= f.submit '検索' , id: 'search-submit'%>
    <% end%>
    <br>
    <div>
    </div>
  </div>
  
  <div id="results-content">
  <% if @results.length !=0 %>
  <% @results.each do |result| %>
    <td>
    <br>
    <li>
      <%= result.id %>
      <%= result.category_id %>
      <%= result.state_id %>
      <%= result.price %>
    </li>
  <% end %>
<% else %>
  該当する商品はありません
<% end %>
</div>

<%= render "shared/second-footer"%>