<%= render "shared/second-header"%>

  <div>
   <h2>商品検索</h2>
    <%= search_form_for @p, url: search_products_path do |f| %>
    <%= f.label :category_id_eq, 'カテゴリー' %>
    <%= f.collection_select :category_id_eq, @category, :id, :name,  include_blank: '指定なし' %>
    <br>
    <%= f.label :state_id_eq, '商品の状態' %>
    <%= f.collection_select :state_id_eq, @state, :id, :name,  include_blank: '指定なし' %>
    <br>
    <%= f.label :price %>
    <%= f.number_field :price_gteq %>以上〜
    <%= f.number_field :price_lt %>未満
    <br>
    <%= f.submit '検索' %>
    <% end%>
    <br>
    <div>
      <%# 商品一覧 %>
    <%@products.each do |product| %>
          <li class='list'>
            <%= link_to product_path(product) do %>
            <div class='item-img-content'>
              <% product.images.each_with_index do |image, i|%>
                <% break if i >= 1%>
                <%= image_tag image, class: "item-img" %>
              <% end %>
              <% @order.each do |order|%>
              <% if order.product_id == product.id%>
              <div class='sold-out'>
              <span>Sold Out!!</span>
              </div>
              <% end %>
              <% end %>
            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%=product.name%>
              </h3>
             <div class='item-price'>
                <span><%= product.price %><br>(税込み)</span>
                <div class='star-btn'>
                 <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'>0</span>
                </div>
              </div>
            </div>
            <% end %>
         </li>
        <% end %>
    </div>
  </div>

<%= render "shared/second-footer"%>